:root {
  --ghf-color-button-primary-text: #ffffff;
  --ghf-color-button-primary-bg: #2da44e;
  --ghf-color-button-primary-border: rgb(27 31 36 / 15%);
  --ghf-color-button-primary-shadow: 0 1px 0 rgba(27 31 36 / 10%);
  --ghf-color-button-primary-inset-shadow: inset 0 1px 0 rgba(255 255 255 / 3%);
  --ghf-color-button-primary-hover-bg: #2c974b;
  --ghf-color-button-primary-hover-border: rgb(27 31 36 / 15%);
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.body-description {
  font-size: 12px;
  color: var(--color-fg-muted);
}

.checkbox-label {
  margin-left: 4px;
}

.form-input {
  width: 440px;
  max-width: 100%;
  margin-right: 5px;
}

.form-textarea {
  width: 100%;
  height: 200px;
  min-height: 200px;
}

h3[required="required"]::after {
  padding-left: 5px;
  color: var(--color-danger-fg);
  content: "*";
}

.checkbox-required {
  color: var(--color-danger-fg);
}

textarea[lang] {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

.form-list-container {
  position: relative;
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.summary:not(:first-child) {
  border-top-color: var(--color-border-muted);
  border-top-style: solid;
  border-top-width: 1px;
}

.summary strong.name {
  font-size: 16px;
}

.summary div.description {
  color: var(--color-fg-muted) !important;
  font-size: 14px;
}

.summary > a.button {
  color: var(--ghf-color-button-primary-text);
  background-color: var(--ghf-color-button-primary-bg);
  border-color: var(--ghf-color-button-primary-border);
  box-shadow: var(--ghf-color-button-primary-shadow),
    var(--ghf-color-button-primary-inset-shadow);
  /* position: relative; */
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
}

.summary > a.button:hover {
  background-color: var(--ghf-color-button-primary-hover-bg);
  border-color: var(--ghf-color-button-primary-hover-border);
  text-decoration: none;
}
